/* ────────────────────────────────────────────────────────────
 * Custom Theme for Waybar
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color background #9F6A5E;
@define-color foreground #F5E6D3;
